<%- include("partials/header.ejs") %>

<div class="filter">
  <!-- <small>filter</small> -->
</div>

<section class="pens">
  <% if (locals.pens) { pens.forEach(pen => { %>
  <article class="pen">
    <small class="author"><%= pen.author %></small>
    <small> • </small>
    <small class="date"><%= pen.date %></small>
    <br />
    <span class="category"><%= pen.category %></span>
    <h3 class="title"><%= pen.title %></h3>

    <p class="content"><%= pen.content %></p>

    <a class="pen-btn edit" href="/edit/<%= pen.id %>"> Edit </a>
    <a class="pen-btn delete" href="/delete/<%= pen.id %>"> Delete </a>
  </article>

  <hr />

  <% })} else if (locals.error) { %>

  <h2><%= error %></h2>

  <% } else { %>

  <h2>Something went wrong</h2>

  <% } %>
</section>

<%- include("partials/footer.ejs") %>
